<app-default-login-layout
  title="Login into your account"
  primaryBtnText="Login Now"
  secondaryBtnText="Signup Now"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="Email"
      type="email"
      label="Email"
      placeholder="jondoe@gmail.com"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="Password"
      type="password"
      label="Password"
      placeholder="******"
    >
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>
    <span>Forgot password</span>
  </form>
</app-default-login-layout>
